*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  color: #000;
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

.container {
  padding: 0px 16px;
}

.header {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #FFF;
  border-bottom: 1px solid #C1D3DE;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0 16px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}
.header__burger span {
  left: 2px;
  top: 11px;
  height: 2px;
  width: 83.33%;
  background-color: #4B4C5A;
  position: absolute;
  -webkit-transition: 0.5s ease 0s all;
  transition: 0.5s ease 0s all;
}
.header__burger:before, .header__burger:after {
  left: 2px;
  content: "";
  height: 2px;
  width: 83.33%;
  background-color: #4B4C5A;
  position: absolute;
  -webkit-transition: 0.5s ease 0s all;
  transition: 0.5s ease 0s all;
}
.header__burger:after {
  top: 16px;
}
.header__burger:before {
  top: 6px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__burger.active:before {
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active:after {
  top: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  padding: 0px 16px;
  -webkit-transition: 0.5s ease 0s all;
  transition: 0.5s ease 0s all;
}
.menu__list {
  padding-top: 17.6vh;
}
.menu__item {
  margin-bottom: 32px;
}
.menu__link {
  color: #8B9BAB;
}
.menu__buttons {
  margin-top: 40px;
}
.menu__button {
  border: 1px solid #376FFF;
  border-radius: 12px;
  padding: 14px 69.5px;
  text-align: center;
  margin-bottom: 24px;
}
.menu__button button {
  color: #376FFF;
  font-size: 16px;
  line-height: 20px;
  background: none;
}
.menu.active {
  left: 0;
}

.main {
  -webkit-transition: 0.5s ease 0s all;
  transition: 0.5s ease 0s all;
}
.main.active {
  opacity: 0;
}

.welcome {
  width: 100%;
  height: 40vh;
  margin-top: 60px;
  position: relative;
  background: url(../img/welcome/img1.jpg) center no-repeat;
}
.welcome__blur {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(36, 42, 86, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.welcome__content {
  padding: 0px 16px;
  width: 100%;
  height: 100%;
}
.welcome__text {
  position: absolute;
}
.welcome__text h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 28px;
}
.welcome__text p {
  width: 90%;
  color: #fff;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}