.result {
	padding: 40px 0;
	background: url(../img/about/about_bg.jpg) center/cover no-repeat;
	font-family: Inter;
	&__title {
		
	}
	&__list {
	}
	&__item {
		display: flex;
		align-items: start;
		margin-bottom: 20px;
	}
	&__icon {
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		font-style: normal;
		margin-left: 8px;
	}
}
